*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-diseñoCurso{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-diseñoCurso-left{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0091ff;
}
.head-diseñoCurso-left h2{
    margin-bottom: 1em;
}
.head-diseñoCurso-left p{
    margin-left: 1em;
}
.head-diseñoCurso-right{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-color: #0091ff;
}
.head-diseñoCurso-right img{
    margin-top: 3em;
    height: 14em;
}
.section-diseñoCurso{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-section-diseñoCurso{
    display: flex;
    width: 50%;
    height: 90%;
}
.div-section-diseñoCurso img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
    border-radius: 20px;
    margin: 1%;
}
.div-section-diseñoCurso img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.section2-diseñoCurso{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0091ff;
}
.div-diseñoCurso{
    width: 70%;
    height: 50vh;
    background-color: #0091ff;
    display: flex;
    align-items: center;
}