.main-header { 
  background-color: blue;
  height: 7vh;
  width: 100%;
}
.way-container{
  display: flex;
  background-color: rgb(21, 255, 0);
  height: 100vh;
  width: 100%;
}
.way-aside--left{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 100%;
  width: 25%;
}
.way-btns--left{
  height: 7%;
}
.way-label{
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 2em;
  margin-top: 2em;
}
.way-test {
  background-color: rgb(255, 191, 0);
  height: 100%;
  width: 50%;
}
.way-div--btns{
  display: flex;
  height: 6%;
  width: 100%;
  background-color: rgb(25, 6, 42);
  margin-top: 8em;

}
.way-aside--right { 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  height: 100%;
  width: 25%;
}

.way-btns--right{
  height: 2em;
  width: 20%;
}