/*Cambiar por estos input https://uiverse.io/alexruix/slippery-snail-18 */
.form-format{
  display: flex;
  width: 100%;
  height: 100%;
}
.inputs-dimension-register{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 60%;
  margin-right: 2em;
  margin-left: auto;
  margin-top: 2em;
}
.register-title-principal{
  position: absolute;
  top: 14%;
  left: 30.5%;
  width: 38%;
}
.inputs-dimension-registerR{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60%;
  margin-right: auto;
  margin-left: 2em;
  margin-top: 2em;
}
/* .input-left{
  width: 100%;
  border-color: rgb(34, 199, 249);
}
.input-right{
  width: 100%;
  border-color: rgb(34, 199, 249);
} */
.labels-register{
  display: flex;
  justify-content: start;
  width: 100%;
  text-align: left;
}
.place-left{
  align-content: center;
  background-color: rgb(0, 127, 162);
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 50% 0% 0% 0%;
}
.place-right{
  align-content: center;
  background-color: rgb(0, 127, 162);
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 0% 0% 50% 0%;
}
/* .title-form-righ{
  z-index: -1;
  color: rgb(90, 156, 214, 0);
} */

.btns-register{
  /* display: flex;
  justify-content: flex-end; */
  position: absolute;
  top: 78%;
  left: 34.8%;
  width: 38%;
}

/* Posicionamiento de los botones, para que queden lineales */
/* #city-input--modal-send{
  margin-bottom:1.9em;
} */
/* #login-input--modal--send{
  margin-bottom: 1.9em;
} */

/* Nuevos botones */
.register-input-group {
  position: relative;
}
.register-input-new {
  border-radius: 1rem;
  background: none;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.3em;
  font-size: 1rem;
  color: #ffffff;
    outline: none;
    border: 1.5px solid aliceblue;
}
.register-input-new:hover {
  border: 1.5px solid rgb(21, 0, 255);
}
.register-user-label {
  position: absolute;
  left: 15px;
  padding: 0 .2em;
  background-color: rgb(0, 127, 162);
  color: black;
  transform: translateY(-50%) scale(0.8);
}
/* .register-user-label:hover {
  color: aliceblue;
} */
/* .register-user-fucion {
  color: rgb(0, 0, 0);
} */
.register-user-fucion:hover {
  color: rgb(255, 204, 0);
}
