*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Esta es la trasparencia con todo */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../img/7492091.jpg');
  background-size: cover;
  background-position: center; 
}

/* Este es el cuadrado del login */
.modal-login{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.4); /* Color de fondo con transparencia */
  backdrop-filter: blur(5px); /*Esto es para desenfocarlo*/
  border-radius: 1.2em;
  height: 80%;
  width: 60%;
  transition: width 0.5s; /* Transición suave para el cambio de tamaño */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
.div-imagen--left {
  width: 50%;
  height: 100%;
  border-radius: 0% 40% 40% 0%;
  margin-right: 0.9em;
  background-color: rgba(212, 202, 202, 0.03); /* Color de fondo con transparencia */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.img-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #1877f2; */
}
.img-left--dimension{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  /* background-color: #dc2743; */
}
.form{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* background-color: rgb(230, 11, 11); */
  width: 40%;
  height: 90%;
  align-items: center;
}
.top-btns{
  display: flex;
  justify-content: end;
  margin-bottom: 2em;
}
.oculto-top-btns{
  display: none;
}
.switchFall {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switchFall input {
  display: none;
}

.sliderFall {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.sliderFall:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .sliderFall {
  background-color: #FFC116;
}

input:focus + .sliderFall {
  box-shadow: 0 0 1px #FFC116;
}

input:checked + .sliderFall:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
}

/*------ ADDED CSS ---------*/
.sliderFall:after {
  content: 'Ingreso';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .sliderFall:after {
  content: 'Registro';
}

/*--------- END --------*/
.title-form{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.inputs-dimension{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.labels{
  width: 100%;
  margin-left: 2em;
  /* background-color: rgb(15, 169, 208, 0.1); */
}

/* Contenedor de los botones */
.btns {
  display: flex;
  justify-content: center;  
  gap: 0.4em;
  margin-bottom: 1em;
}

/* Los botones */
.btn-subRes{
  display: inline-block;
  border-radius: 4px;
  background-color: #06c8d9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 0.6em;
  width: 8em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.4em;
  margin-top: 1em;

}
.btn-subRes:hover{
  background-color: #3deefe;
  color: black;
}
.btn-subRes, .spanIngreso {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-subRes .spanIngreso:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.btn-subRes:hover .spanIngreso {
  padding-right: 15px;
}
.btn-subRes:hover .spanIngreso:after {
  opacity: 1;
  right: 0;
}

/* Boton submit
.btn-subResRight{
    margin-left: 1.6em;
} */

/* estos son los ahref de recuperación */
.a-register{
  text-decoration: none;
  color: rgb(157, 169, 169);
  font-size: 0.9em;
  width: 100%;
  margin: 1em;
}
.a-register:hover{
  color: rgb(0, 128, 255);
}
.a-register-right{
  margin-left: 1em;
}

/* Estos son los input */
#login-input--modal{
  box-sizing: border-box;
  border-color: rgb(34, 199, 249);
  width: 60%;
  height: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  overflow: hidden;
}
#pass-input--modal{
  box-sizing: border-box;
  border-color: rgb(34, 199, 249);
  margin-left: 2em;
  width: 60%;
  height: 1.5em;
  overflow: hidden;
}

/* Las redes sociales */
.btnRedesNuevos{
  display: flex;
  justify-content: center;
  /* background-color: black; */
  width: 100%;
  height: 2.5em;
  gap: 1.5em;
  z-index: 100;
}

/* boton whatsapp */
.btnWhatsapp {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.svgContainerWhat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}
.BGWhat {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #075e54;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}
.btnWhatsapp:hover .BGWhat {
  transform: rotate(35deg);
  transform-origin: bottom;
}
.btnWhatsapp:hover .svgContainerWhat {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

/* Boton facebook */
.btnFacebook {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.svgContainerFace {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}
.BGFace {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #1877f2;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}
.btnFacebook:hover .BGFace {
  transform: rotate(35deg);
  transform-origin: bottom;
}
.btnFacebook:hover .svgContainerFace {
  border: 1px solid rgba(230, 230, 230, 0.466);
  background-color: rgba(204, 204, 204, 0.466);
  backdrop-filter: blur(4px);
}

/* Boton instagram */
.BtnInstagram {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}
.svgContainerInsta {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}
.BGInsta {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}
.BtnInstagram:hover .BGInsta {
  transform: rotate(35deg);
  transform-origin: bottom;
}
.BtnInstagram:hover .svgContainerInsta {
  background-color: rgba(156, 156, 156, 0.466);
}

/*Boton Yutube*/
.btnYoutube {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainerYou {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BGYou {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff0000;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.btnYoutube:hover .BGYou {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.btnYoutube:hover .svgContainerYou {
  border: 1px solid rgba(255, 110, 110, 0.466);
  background-color: rgba(219, 219, 219, 0.466);
  backdrop-filter: blur(4px);
}

#access-parr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 23vw;
  padding-top: 0.3em;
}