*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(231, 231, 231);
}
/* Fuente */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Contenedor global  */
.container{
  background-color: rgb(85, 192, 228);
}

/* Navegador  */
.navegator{
  display: flex;
  position: fixed;
  background-color: aliceblue;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 100;
}
.navegator-logo{
  /* background-color:rgb(228, 0, 0);  */
  padding-right: 50px;
}
/* Titulo grande */
.logo-header{
  width: 14em;
  height: 5em;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.navegator-link{
  display: flex;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 5em;
  width: 50em;
  height: 2.1em;
  gap: 0.5em;
}

/* Botones del navegador y el hover */
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  padding: 0.5em 1em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
.c-button--gooey {
  color: #037f8a;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #06c8d9;
  border-radius: 7px;
  position: relative;
  transition: all 700ms ease;
}
.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}
.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}
.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}
.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}
.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}
.c-button--gooey:hover {
  color: #fff;
}
.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/* Cuerpo de la pagina */
.section-one{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;  
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 100vh;
  padding-top: 5em;
}

.section-one h2{
  padding-top: 40px;
}

.section-one p{
  padding-bottom: 15px;
}

.saber-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #06c8d9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.saber-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.saber-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.saber-button:hover span {
  padding-right: 15px;
}

.saber-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 117, 228);
  width: 100%;
  height: 100vh;
  border-radius: 10% 95% 10% 95%;
  margin-bottom: 2em;
}

/* Div de los articulos */
.articles{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Articulos */
.art-left{
  margin-left: 50px;
  /* background-color: blue; */
}
.art-left p{
  font-size: 40px;
  padding-top: 20px;
  /* background-color: brown; */
  text-align: left;
  font-size: 20vh;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font: oblique bold 120% cursive;
}

/* .art-separate{

} */

.main-body-two{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 161, 71);
  border-radius:50% 10% 60% 30%;
  margin-bottom: 20px;
}

.articles-two{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  margin-left: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.main-body-three{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-radius: 50% 50% 50% 50%;
  background-color: rgb(255, 183, 0);
  margin-bottom: 20px;
}

.articles-three{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* SECTION MAIN COMPONENTS */
.container-component--main{
  display: flex;
  justify-content: center;
}
.section-main{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 90%;
  background-color: aliceblue;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.2), 
  -5px 0px 5px 0px rgba(0, 0, 0, 0.2); 
  background-image: url(./img/curva.png); /* URL de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 60%; 
}
.articles-main--left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  width: 50%;
}
.main-title{
  margin-bottom: 1em;
  margin-top: 0.5em;
  margin-left: 7em;
  text-align: left;
  width: 100%;
  font-size: 3em;
}
.main-text{
  text-align: left;
  margin-bottom: 3em;
  margin-left: 9em;
  width: 80%;
  font-size: 1.5em;
}
.articles-main--right{
  width: 50%;
}
.art-main{
  display: flex;
  justify-content: flex-end;
  padding-right: 9em;
  margin-top: 25%;
}
.mainlogo-picture{
  background-color: rgba(6, 188, 255, 0.5);
  border-radius: 40% 40% 40% 40%;
  margin-top: 2em;
}
.mainlogo-picture:hover{
  animation: animacionImagen 3s infinite alternate;
}
@keyframes animacionImagen {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.07); 
  }
}

.cssbuttons-io-button {
  background:  #0091ff;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em  #0091ff;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin-left: 5em;
}
/* El boton de main */
.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em  #0091ff;
  right: 0.3em;
  transition: all 0.3s;
}
.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #000000;
}
.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* Footer */
.divBolitasFfb400{
  width: 100%;
  height: 10em;
  display: flex;
  background-color: #00ABF4;
}
.divFondoOne{
  width: 18%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  z-index: 2;
  display:flexbox;
  align-content: flex-end;
}
.divBolitasOne {
  width: 100%;
  height: 80%;
  background-color: #00ABF4;
}
.divFondoTwo{
  width: 18%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  z-index: 2;
  display:flexbox;
  align-content: flex-end;
}
.divBolitasTwo {
  width: 100%;
  height: 80%;
  background-color: #00ABF4;
  border-radius: 0 69% 0 0;
  overflow: hidden; /* Para aplicar el color de fondo solo al contenido del div */
  z-index: 3;
}
.divFondoThree {
  width: 28%;
  height: 100%;
  z-index: 2;
  display:flexbox;
  align-content: flex-end;
}
.divBolitasThree {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  border-radius: 0 0 3em 3em;
  overflow: hidden; /* Para aplicar el color de fondo solo al contenido del div */
  z-index: 3;
}
.imgFooter {
  width: auto;
  height: auto;
}
.divFondoFour{
  width: 18%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  z-index: 2;
  display:flexbox;
  align-content: flex-end;
}
.divBolitasFour {
  width: 100%;
  height: 80%;
  background-color: #00ABF4;
  border-radius: 68% 0 0 0;
  overflow: hidden; /* Para aplicar el color de fondo solo al contenido del div */
  z-index: 3;
}
.divFondoFive{
  width: 18%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  z-index: 2;
  display:flexbox;
  align-content: flex-end;
}
.divBolitasFive {
  width: 100%;
  height: 80%;
  background-color: #00ABF4;
}


/* Footer */
.ending{
  display: flex;
  justify-content: space-around;
  background-color: #00ABF4;
  height: 31vh;
  color: aliceblue;
  /* border-radius: 1% 1% 0% 0%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
}
.container-footer{
  display: flex;
  /* background-color: rgb(180, 203, 241); */
  height: 100%;
  width: 100%;
}
.footer-box-cero{
  height: 100%;
  width: 9%;
}
.footer-box-one{
  /* background-color: rgb(255, 4, 4); */
  height: 100%;
  width: 30%;
  padding: 0.6em;
  margin-right: 4em;
  margin-left:2px;
}
.footer-box-two{
  /* background-color: rgb(230, 255, 4); */
  height: 100%;
  width: 12%;
  padding: 1em;
  margin-right: 4em;
}
.footer-box-three{  
  /* background-color: rgb(4, 255, 25); */
  height: 100%;
  width: 12%;
  padding: 1em;
  margin-right: 4em;
}
.footer-box-four{
  /* background-color: rgb(200, 19, 179); */
  height: 100%;
  width: 17%;
  padding: 1em;
}
.footer-box-five{
  height: 100%;
  width: 7%;
}
.button-footer {
  background-color: #fff;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #0091ff;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #0091ff;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  margin-top: 1em;
}

.button-footer svg {
  fill: #0091ff;
  height: 25px;
  width: 25px;
}

.button-footer span {
  margin: 10px;
}

.button-footer::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.button-footer:hover {
  color: #fff;
  background-color: #0091ff;
  border: 1px solid #0091ff;
}

.button-footer:hover svg {
  fill: currentColor;
}

.button-footer:hover::before {
  box-shadow: inset 0 0 0 10em #0163E0;
}

.title-leng{
  margin-top: 1em;
}
.copy-h{
  margin-top: 0.8em;
  color: #000000;
}
.title-media{
  margin-top: 1em;
  color: #000000;
}
.title-legal{
  margin-top: 1em;
  color: #000000;
}
.title-tec{
  margin-top: 1em;
  color: #000000;
}
.titleFooterOne {
  margin-bottom: 1em;
}
.titleFooter{
  color: aliceblue;
}
.titleInfoLengulish{

  color: #000000;
}
.end-h6{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.5em;
  color: #000000;
}

/* Footer redes */
.footerRedes {
  position: absolute;
  width: 100%;
  height: 4em;
  background-color: #00ABF4;
  /* border-top: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerWhatsapp, .footerFacebook, 
.footerInstagram, .footerYoutube {
width: 25%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}

/* boton Whatsapp pie */
.btnRedesWhatsapp {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  background: #075e54;
  margin: 0 4px;
}
/* boton facebook pie */
.btnRedesFacebook {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  background: #0079F1;
  margin: 0 4px;
}
/* Boton Instagram */
.btnRedesInstagram {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  margin: 0 4px;
}

/* boton youtube */
.btnRedesYoutube {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  background: #ff0000;
  margin: 0 4px;
}
.footerRedesEspacio1, .footerRedesEspacio2 {
  width: 6%;
}