*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(231, 231, 231);
}
/* Fuente */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Contenedor global  */
.container{
  background-color: rgb(85, 192, 228);
}

/* Navegador  */
.navegator{
  display: flex;
  position: fixed;
  background-color: aliceblue;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.navegator-logo{
  /* background-color:rgb(228, 0, 0);  */
  padding-right: 50px;
}
/* Titulo grande */
.voca-text{
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 8vh;
  color: rgb(85, 192, 228);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.navegator-link{
  display: flex;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 5em;
  width: 50em;
  height: 2.1em;
  gap: 0.5em;
}

/* Botones del navegador y el hover */
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  padding: 0.5em 1em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
.c-button--gooey {
  color: #037f8a;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #06c8d9;
  border-radius: 7px;
  position: relative;
  transition: all 700ms ease;
}
.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}
.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}
.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}
.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}
.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}
.c-button--gooey:hover {
  color: #fff;
}
.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/* Cuerpo de la pagina */
.section-one{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;  
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 100vh;
  padding-top: 5em;
}

.section-one h2{
  padding-top: 40px;
}

.section-one p{
  padding-bottom: 15px;
}

.saber-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #06c8d9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.saber-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.saber-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.saber-button:hover span {
  padding-right: 15px;
}

.saber-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 192, 228);
  width: 100%;
  height: 100vh;
  border-radius: 80% 80% 80% 80%;
  margin-bottom: 2em;
}

/* Div de los articulos */
.articles{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Articulos */
.art-left{
  margin-left: 50px;
  /* background-color: blue; */
}
.art-left p{
  font-size: 40px;
  padding-top: 20px;
  /* background-color: brown; */
  text-align: left;
  font-size: 20vh;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font: oblique bold 120% cursive;
}

/* .art-separate{

} */

.main-body-two{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 161, 71);
  border-radius:50% 10% 60% 30%;
  margin-bottom: 20px;
}

.articles-two{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  margin-left: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.main-body-three{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-radius: 50% 50% 50% 50%;
  background-color: rgb(255, 183, 0);
  margin-bottom: 20px;
}

.articles-three{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* SECTION MAIN COMPONENTS */
.container-component--main{
  display: flex;
  justify-content: center;
}
.section-main{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 90%;
  background-color: aliceblue;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.2), 
  -5px 0px 5px 0px rgba(0, 0, 0, 0.2); 
  background-image: url(./img/curva.png); /* URL de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 60%; 
}
.articles-main--left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  width: 50%;
}
.main-title{
  margin-bottom: 1em;
  margin-top: 0.5em;
  margin-left: 7em;
  text-align: left;
  width: 100%;
  font-size: 3em;
}
.main-text{
  text-align: left;
  margin-bottom: 3em;
  margin-left: 9em;
  width: 80%;
  font-size: 1.5em;
}
.articles-main--right{
  width: 50%;
}
.art-main{
  display: flex;
  justify-content: flex-end;
  padding-right: 9em;
  margin-top: 25%;
}
.mainlogo-picture{
  background-color: rgba(6, 188, 255, 0.5);
  border-radius: 40% 40% 40% 40%;
  margin-top: 2em;
}
.mainlogo-picture:hover{
  animation: animacionImagen 3s infinite alternate;
}
@keyframes animacionImagen {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.07); 
  }
}

.cssbuttons-io-button {
  background:  #0091ff;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em  #0091ff;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin-left: 5em;
}
/* El boton de main */
.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em  #0091ff;
  right: 0.3em;
  transition: all 0.3s;
}
.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #000000;
}
.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* Footer */
.ending{
  display: flex;
  justify-content: space-around;
  background-color: rgb(11, 87, 211);
  height: 25vh;
  color: aliceblue;
  border-radius: 1% 1% 0% 0%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.container-footer{
  display: flex;
  /* background-color: rgb(180, 203, 241); */
  height: 100%;
  width: 100%;
}
.footer-box-one{
  /* background-color: rgb(255, 4, 4); */
  height: 100%;
  width: 25%;
  padding: 0.6em;
  margin-left: 1em;
}
.footer-box-two{
  /* background-color: rgb(230, 255, 4); */
  height: 100%;
  width: 25%;
  padding: 1em;
}
.footer-box-three{  
  /* background-color: rgb(4, 255, 25); */
  height: 100%;
  width: 25%;
  padding: 1em;
}
.footer-box-four{
  /* background-color: rgb(200, 19, 179); */
  height: 100%;
  width: 25%;
  padding: 1em;
}

.button-footer {
  appearance: none;
  background-color: aliceblue;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 0.6em;
  min-height: 2.7em;
  min-width: 0;
  outline: none;
  padding: 0.3em 2.7em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.button-footer:disabled {
  pointer-events: none;
}
.button-footer:hover {
  color: #ffffff;
  background-color: #939393;
  box-shadow: rgba(1, 149, 255, 0.3) 0 8px 15px;
  transform: translateY(-2px);
}
.button-footer:active {
  box-shadow: none;
  transform: translateY(0);
}