*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(231, 231, 231);
}
/* Fuente */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Contenedor global  */
.container{
  background-color: rgb(85, 192, 228);
}

/* Navegador  */
.navegator{
  display: flex;
  position: fixed;
  background-color: aliceblue;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.navegator-logo{
  /* background-color:rgb(228, 0, 0);  */
  padding-right: 50px;
}
/* Titulo grande */
.voca-text{
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 8vh;
  color: rgb(85, 192, 228);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.navegator-link{
  display: flex;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 5em;
  width: 50em;
  height: 2.1em;
  gap: 0.5em;
}

/* Botones del navegador y el hover */
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  padding: 0.5em 1em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
.c-button--gooey {
  color: #037f8a;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #06c8d9;
  border-radius: 7px;
  position: relative;
  transition: all 700ms ease;
}
.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}
.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}
.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}
.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}
.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}
.c-button--gooey:hover {
  color: #fff;
}
.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/* Cuerpo de la pagina */
.section-one{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;  
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}

.section-one h2{
  padding-top: 40px;
}

.section-one p{
  padding-bottom: 15px;
}

.saber-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #06c8d9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.saber-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.saber-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.saber-button:hover span {
  padding-right: 15px;
}

.saber-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 192, 228);
  width: 100%;
  height: 100vh;
  border-radius: 80% 80% 80% 80%;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* Div de los articulos */
.articles{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Articulos */
.art-left{
  margin-left: 50px;
  /* background-color: blue; */
}
.art-left p{
  font-size: 40px;
  padding-top: 20px;
  /* background-color: brown; */
  text-align: left;
  font-size: 20vh;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font: oblique bold 120% cursive;
}

/* .art-separate{

} */

.main-body-two{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 161, 71);
  border-radius:50% 10% 60% 30%;
  margin-bottom: 20px;
}

.articles-two{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  margin-left: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.main-body-three{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-radius: 50% 50% 50% 50%;
  background-color: rgb(255, 183, 0);
  margin-bottom: 20px;
}

.articles-three{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 70%;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
/* Footer */
.ending{
  display: flex;
  justify-content: space-around;
  background-color: rgb(192, 192, 192);
}
